
.section_2{
    @media screen and (min-width: $break-large) {
        display: flex;
    }

    .article-images{
        margin: 20px;
        line-height: 115px;
        text-align: center;
        .imagen-article-section2{
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
        
    }

    .article-contenido{
    
        text-align: left;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        a{
            color: $color-link;
            padding: 4px 2px;
            text-decoration: none;
            border-bottom: 3px solid $color-link;
            width: 160px;
        }
    }
}
