
.section_2{
    margin: 20px 20px;
    @media screen and (min-width: $break-large) {
        display: flex;
    }

    .article-images{
        margin: 20px;
        line-height: 115px;
        text-align: center;
        .imagen-article-section2{
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
        
    }

    .article-contenido{
    
        text-align: left;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        a{
            color: $color-link;
            padding: 4px 2px;
            text-decoration: none;
            border-bottom: 3px solid $color-link;
            width: 160px;
        }
    }
}


.section3{
    position: relative;
    margin: 20px 20px;
    .quotes{
        position: relative;
        top:35px;
        left:10px;
        /* border: 2px solid green; */
        z-index:-1;
    } 
    .article-section3{
        /* border: 1px solid green; */
        padding: 20px;
        background-color: hsl(219, 30%, 18%);
        margin: 25px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .parrafo-profile{
            line-height: 2;
          }
        .image-section3{
            border-radius: 70px;
            width: 40px;
            height: 40px;
            margin: 10px;
            
        }
        .name-profile{
            margin: 10px 5px 0px;
            .name{
                letter-spacing: 0.2em;
                word-spacing: 0.25em;
                font-weight: bold;
            }
            .profile{
                font-size: x-small;
                letter-spacing: .19em;
                word-spacing: .2em;
            }
              
        } 

    }
    .section-access{
        padding: 40px;
        background-color: hsl(219, 30%, 18%);
        margin: 25px 10px;
        display: flex;
        flex-direction: column;
        .access-header{
            text-align: center;

        }
        .parrafo-access{
            text-align: center;
            line-height: 2;
            
        }
      }
}

form{
    display: flex;
    flex-direction: column;
    height: auto;
    input[type="email"]{
        height: 40px;
        border:5px solid #f6f6f6;
        border-radius:50px;
        background-color:#f6f6f6;
        margin:15px 0px;
        display:inline-block;
    }
    input[type="submit"]{
        font-weight:bold;
        padding:8px 16px;
        height: 40px;
        border:1px solid  hsl(198, 60%, 50%);
        border-radius:50px;
        color:#fff;
        background-color: hsl(198, 60%, 50%);
        &:hover{
            cursor: pointer;
        }
    }                    
}

@media screen and (min-width: 768px) {
    .section3 {
        display: flex;
        flex-direction: row;
        margin: 0px 20px 40% 0px;
        .quotes{
            top: 10%;
            left: 10%;
            align-self: start;
        }
        .article-section3{
            margin: 40px 10px;
            padding: 20px 15px 20px 15px;
            .parrafo-profile{
                font-size: small;
                line-height: 1.3;
            }
            .name-profile{
                .name{
                    letter-spacing: 0;
                    word-spacing: 0;
                    font-size: small;
                }
                .profile{
                    letter-spacing: 0;
                    word-spacing: 0;
                    font-size: xX-small;
                }
            }
        }
        .section-access{
            width: 60%;
            position: absolute;
            top: 130%;
            left:20%;
            .parrafo-access{
                line-height: 1.5;
                font-size: small;
            }
        }
    }

    form{
      flex-direction: row;
      text-align: start;
      width: auto;
      justify-content: center;
      margin-top: 10px;
      input[type="email"] {
        margin: 0px;
        width: 50%;
      }
    }
}

@media only screen and (min-width: 1024px) {
    .section3 {
        margin: 0px 0px 20% 0px;
        .quotes{
            left: 7%;
        }
        .section-access{
            width: 50%;
            top: 120%;
            left:25%;
        }
    }
    
}

@media only screen and (min-width: break-xlarge) {
    .section3 {
        margin: 0px 0px 20% 0px;
        .quotes{
            left: 5%;
        }
        .section-access{
            width: 50%;
            top: 160%;
            left:25%;
        }
    }
    
}
   
 
  
  
