$font: 'Open Sans';
$background-main: hsl(218, 28%, 13%);
$color-link: hsl(198, 60%, 50%);
$color-letra: white;
$break-large: 768px;
$break-xlarge: 1200px;
$background-header: #1B2330;
$background-footer: #0d1624;
$gradient-button:linear-gradient(90deg, rgba(100,225,217,1) 0%, rgba(51,158,204,1) 100%);