* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-repeat: repeat;
  background-color: #181f2a;
  width: 100vw;
  font-family: "Open Sans";
  font-size: 14px;
}

main {
  margin: 20px 20px;
}

.header {
  background-color: #181f2a;
  margin: auto;
}

.header-menu {
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
}

.header-menu ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #65e2d9;
}

.header-menu .section-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .section_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section_2 .article-images {
  margin: 20px;
  line-height: 115px;
  text-align: center;
}

.section_2 .article-images .imagen-article-section2 {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.section_2 .article-contenido {
  color: white;
  text-align: left;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section_2 .article-contenido a {
  color: #339ecc;
  padding: 4px 2px;
  text-decoration: none;
  border-bottom: 3px solid #339ecc;
  width: 160px;
}

.footer {
  background-color: #0d1624;
  color: white;
  padding: 1rem;
}

.footer .logo_footer {
  margin-bottom: 2rem;
}

.footer ul {
  text-decoration: none;
  list-style: none;
  margin-bottom: 1rem;
}

.footer ul a {
  text-decoration: none;
  color: white;
}

.footer .menu_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .menu_footer .direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.footer .menu_footer .direction p {
  margin-left: 1rem;
}

.footer .menu_footer .footer_contact li {
  position: relative;
  padding-left: 2rem;
  margin-top: 1rem;
}

.footer .menu_footer .footer_contact img {
  margin-right: 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.footer .links_footer {
  margin-top: 2rem;
}

.footer .links_footer li {
  margin-top: 0.75rem;
}

.footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.footer .social_icons a {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 .5em;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
  .footer .menu_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .menu_footer .direction {
    width: 30%;
    margin-top: 0;
    padding-right: 1rem;
  }
  .footer .menu_footer .footer_contact {
    width: 30%;
    padding-right: 1rem;
  }
  .footer .menu_footer .links_footer {
    width: 20%;
    margin-top: 0;
    padding: .5rem;
  }
  .footer .menu_footer .social_icons {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .menu_footer {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .menu_footer .direction {
    width: 30%;
    padding-right: 2rem;
  }
  .footer .menu_footer .footer_contact {
    width: 25%;
    padding-right: 1rem;
  }
  .footer .menu_footer .footer_contact li {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .footer .menu_footer .links_footer {
    width: 15%;
    margin-top: 0;
    padding: 0 .5rem;
  }
  .footer .menu_footer .links_footer li {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .footer .menu_footer .social_icons {
    width: 15%;
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */